<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>{% block title %} {{ blog.title}}{% endblock %}</title>
<link rel="stylesheet" href="/themes/{{ blog.theme_name }}/style.css" type="text/css" />
<link rel="alternate" type="application/atom+xml" title="{{ blog.title }}" href="{{ blog.feedurl }}" />
<link href="/static/wlwmanifest.xml" type="application/wlwmanifest+xml" rel="wlwmanifest"/>
<link rel="icon" type="image/ico" href="/favicon.ico">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
<link rel="pingback" href="/pingback" />
<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
{% block head_block %}{% endblock %}
</head>
<body>
<div id="gc-container">
<div id="langpref">
 <span style="background:#CC4444 none repeat scroll 0% 0%;color:white;padding:5px;">
 正在加载...
 </span>
</div>
<script>

    function loginp()
    {
       $.getJSON("/do/info_login", function(ret){
              if( ret.islogin)
              {
                html='<span style="color:gray;padding:0px 6px">你好，'+ret.name+'</span> <a href="{{self.logouturl}}"> 注销</a>';
                if (ret.isadmin)
                html+=' <a href="/admin">管理</a>';
                $('#langpref').html(html);
              }
              else
              {$('#langpref').html('<a href="/admin"> 登录</a>');}
       });
    }
    loginp();
</script>
<div id="gc-header">
  <div id="logo"><a href="{{ blog.baseurl }}">
  <img src="/themes/{{ blog.theme_name }}/images/cleardot.gif" alt="makenotes.net 杨贵堂" id="gc-logo-img"></a>
  </div>
  <div id="search">

		<!-- SiteSearch Google -->
		<form method="get" action="http://www.google.cn/custom" target="_top">
		<table border="0" bgcolor="#ffffff">
		<tr><td nowrap="nowrap" valign="top" align="left" height="32">

		</td>
		<td nowrap="nowrap">
		<input type="hidden" name="domains" value="makenotes.net"></input>
		<label for="sbi" style="display: none">输入您的搜索字词</label>
		<input type="text" name="q" size="31" maxlength="255" value="" id="sbi"></input>
		<label for="sbb" style="display: none">提交搜索表单</label>
		<input type="submit" name="sa" value="Google 搜索" id="sbb"></input>
		</td></tr>
		<tr>
		<td>&nbsp;</td>
		<td nowrap="nowrap">
		<table>
		<tr>
		<td style='white-space: nowrap;'>
		<input type="radio" name="sitesearch" value="" id="ss0"></input>
		<label for="ss0" title="搜索网络"><font size="-1" color="#000000">Web</font></label></td>
		<td style='white-space: nowrap;'>
		<input type="radio" name="sitesearch" value="makenotes.net" checked id="ss1"></input>
		<label for="ss1" title="搜索 makenotes.net"><font size="-1" color="#000000">makenotes.net</font></label></td>
		</tr>
		</table>
		<input type="hidden" name="client" value="pub-8995377412503046"></input>
		<input type="hidden" name="forid" value="1"></input>
		<input type="hidden" name="ie" value="GB2312"></input>
		<input type="hidden" name="oe" value="GB2312"></input>
		<input type="hidden" name="safe" value="active"></input>
		<input type="hidden" name="cof" value="GALT:#008000;GL:1;DIV:#336699;VLC:663399;AH:center;BGC:FFFFFF;LBGC:336699;ALC:0000FF;LC:0000FF;T:000000;GFNT:0000FF;GIMP:0000FF;FORID:1"></input>
		<input type="hidden" name="hl" value="zh-CN"></input>
		</td></tr></table>
		</form>
		<!-- SiteSearch Google -->
  </div> <!-- end search -->
</div> <!-- end gc-header -->

 <div id="codesiteContent">

<div id="gc-topnav">
  <h1></h1>

  <ul id="home" class="gc-topnav-tabs">
  	<li id="home_link" class="{%if ishome%}current_page_item{%else%}page_item{%endif%}">
      <a href="{{ blog.baseurl }}"  >首页</a>
    </li>
    {{self.m_list_pages}}
    {% block topmenu %}

    {% endblock %}

</ul>
</div>
<!-- end gc-topnav -->


 {% block content %}{% endblock %}

</div> <!-- end codesite content -->

<div id="gc-footer" dir="ltr">
  <div id="gc-footer-img"></div>
  <div class="text" >
  	<div style="margin-bottom:6px;">
  		©2008 <a href="http://www.makenotes.net">杨贵堂的博客</a> Powered by <a href="http://code.google.com/appengine/" rel="nofollow">Google App Engine</a>
  	</div>
  	<div>
       除非另有声明，本站文章采用 <a rel="license" href="http://creativecommons.org/licenses/by-nc/2.5/cn/"  rel="nofollow">知识共享署名-非商业性使用 2.5 中国大陆许可协议</a> 进行许可。
    </div>
  </div>
</div><!-- end gc-footer -->

</div><!-- end gc-containter -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-7349754-3");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>