<div class="g-c-gc-home" id="rightbar">

<ul id="sidebar">
<li>
	<div id="blog-notice" class="line"></div>
    <h2>博客公告</h2>
    <ul>
		{{blog.blognotice}}
	</ul>

</li>

<li>
	<div id="hot-posts" class="line"></div>
    <h2>热门文章</h2>
    <ul>
        {% for entry in blog.hotposts %}
		<li><a href="/{{entry.link|escape}}" title="{{entry.title|escape}}">{{entry.title|escape}}({{entry.readtimes}})</a></li>
        {%endfor%}
	</ul>

</li>
<li>
<div class="line"></div>
    <h2>最近评论</h2>
        <ul>
        {% for comment in recent_comments %}
        <li><a href="/{{comment.entry.link}}#comment-{{comment.key.id}}">{{comment.author}}:</a> {{comment.shortcontent}}...</li>
        {%endfor%}
        </ul>
</li>
<li>
	<div id="recent-posts-2" class="line"></div>
    <h2>最近文章</h2>
    <ul>
        {% for entry in blog.recentposts %}
		<li><a href="/{{entry.link|escape}}" title="{{entry.title|escape}}">{{entry.title|escape}}({{entry.readtimes}})</a></li>
        {%endfor%}
	</ul>

</li>

<li>
  <div class="line"></div>
 <h2>分类杂谈</h2>
  <ul>
 	{%for cate in categories%}
  <li>	<a href="/category/{{cate.slug}}">{{cate.name}}</a>({{cate.count}})</li>
 	{%endfor%}
 	</ul>

</li>
    <li>


<div class="line"></div>
<h2>标签</h2>
{% for t in alltags %}
<a title="{{ t.tagcount }} pages" href="/tag/{{t.tag|urlencode}}"><span style='font-size:{{ t.tagcount|add:9 }}px;'>{{t.tag}}</span></a>
{%endfor%}
</li>
<li>
<div class="line"></div>
	<h2>归档</h2>
		<ul>
		{%for archive in archives%}
		<li><a href="/{{archive.year}}/{{archive.month}}">{{archive.year}}年{{archive.month}}月({{archive.entrycount}})</a></li>
		{%endfor%}
		</ul>
</li>
<li>
<div class="line"></div>
<h2>友情链接</h2>
<ul>
{%for link in blogroll%}
<li><a href="{{link.href}}">{{link.linktext}}</a></li>
{%endfor%}

</ul>
</li>
</ul>

</div>
